// Breakpoint
// ================================

// http://jakearchibald.github.io/sass-ie/

// Example Usage:
// .element {
//   @include breakpoint($bp-medium) {}
// }

@mixin breakpoint($flex-pivot) {
  @media (min-width: $flex-pivot) {
    @content;
  }
}

// List Reset
// ================================

// Example usage:
// nav {
//   @include list-reset;
// }
// nav ul {
//   @include list-reset;
// }
// ul { @include list-rest}

@mixin list-reset {
  &,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

// ================================
// Button Reset
// ================================

// Example usage:
// .trigger {
//    @include button-reset;
// }

@mixin button-reset($complete: true) {
  border: 0;
  background-color: transparent;

  @if $complete {
    margin: 0;
    padding: 0;
  }
}

// Font Icons
// ================================

// Example usage:
// .label:before {
//   @include font-icon('\f0d2');
// }

@mixin font-icon($glyph) {
  content: $glyph;
  font-family: $font-icon;
  font-smoothing: antialiased;
  font-weight: normal;
  speak: none;
}

// Accessible hide content mixin
// ================================
// based off composer css
// used for accessible hidden content

// example:
// img {
//   @include hide-content;
// }

@mixin hide-content {
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
