/*!
 * Bootstrap Reboot v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.btn {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  padding: 9px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-blue {
  font-size: 14px;
  background-color: #0432ff;
  color: white;
}

.btn-blue:focus, .btn-blue:hover {
  background-color: #0f2896;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
}

.site-desktop-title a {
  font-size: 32px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-desktop-title a:focus, .site-desktop-title a:hover {
  color: #feff3a;
  text-decoration: none;
}

.top-bar-right {
  margin-left: auto;
}

#mega-menu-wrap-top-bar-r {
  background: transparent;
}

#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item:last-child {
  margin-left: 50px;
}

#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item:last-child a {
  background: white;
  border-radius: 4px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.supplementary {
  position: absolute;
  top: -30px;
  right: 0;
}

.supplementary .menu,
.supplementary .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.supplementary .menu li {
  margin: 0;
  padding: 0;
}

.supplementary .menu li {
  text-transform: uppercase;
}

.supplementary .menu li a {
  color: white;
}

.mega-menu-wrap img {
  display: none;
}

#menu-main-menu-1 {
  display: none;
}

@media (min-width: 800px) {
  .menu-icon {
    display: none;
  }
}

.mobile-off-canvas-menu {
  display: none;
}

#ajaxModal {
  display: none;
}

#moove_gdpr_cookie_info_bar {
  display: none;
}

.hero-treatment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9% 1fr 1fr 9%;
      grid-template-columns: 9% 1fr 1fr 9%;
  background-image: url("../../images/pool-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 787px;
  position: relative;
}

.hero-treatment::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #0530ff), to(transparent));
  background: linear-gradient(to right, #0530ff 40%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cta-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  position: relative;
  width: 100%;
  max-width: 560px;
  z-index: 1;
}

.cta-container h1 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.cta-container button {
  font-size: 14px;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  background-color: #feff3a;
  border-radius: 4px;
  padding: 9px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cta-container button:focus, .cta-container button:hover {
  background-color: #acac2d;
}

.site-header {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.title-bar-title {
  display: none;
}

.title-bar-title svg {
  max-width: 60px;
}

.footer-container {
  background-color: blue;
}

.intro-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9% 1fr 1fr 9%;
      grid-template-columns: 9% 1fr 1fr 9%;
  background-image: url("../../../wp-content/uploads/2020/12/bg-blue-4.svg");
  background-position: 109% 100%;
  background-repeat: no-repeat;
  background-size: auto 580px;
  padding: 120px 0 200px;
}

.intro-section .intro-content {
  font-size: 30px;
  line-height: 1.4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.intro-section .btn-blue {
  margin-top: 40px;
}

.small-text {
  font-size: 14px;
  margin-right: 5px;
}

.large-blue {
  font-size: 26px;
  font-weight: bold;
  color: #0432ff;
}

#areas-of-expertise h2 {
  font-size: 32px;
  font-weight: normal;
}

@media (min-width: 800px) {
  #areas-of-expertise h2 {
    margin-left: calc((100% - 1180px) / 2);
    margin-bottom: 40px;
  }
}

.areas-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 390px 390px;
      grid-template-rows: 390px 390px;
  background-image: url("../../../wp-content/uploads/2021/01/Landing-image_3000x1777pxls-1536x910.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
  padding-bottom: 20px;
}

.grid-item:nth-child(3n) {
  border-right: 0;
}

.grid-item h3 {
  font-size: 30px;
  font-weight: normal;
  max-width: 250px;
}

.grid-item .arrow {
  color: #feff3a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.grid-item .arrow:focus, .grid-item .arrow:hover {
  color: #acac2d;
  text-decoration: none;
}

#ground-breaking-global-solutions- {
  padding: 115px 20px;
}

#ground-breaking-global-solutions- .container {
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
}

#ground-breaking-global-solutions- h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1;
  max-width: 330px;
}

#ground-breaking-global-solutions- .btn {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
  max-width: 130px;
}

.solution-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solution-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #dfdede;
  border-right: 1px solid white;
  height: 510px;
  width: 100%;
  padding: 10px;
  position: relative;
}

.solution-item:last-child {
  border-right: 0px;
}

.solution-item h3 {
  color: white;
  position: relative;
  z-index: 1;
}

.solution-item a {
  color: #feff3a;
  position: relative;
  z-index: 1;
}

.solution-item::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(#0432ff));
  background: linear-gradient(transparent 70%, #0432ff 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */