.btn {
  @include button-reset;
  border-radius: 4px;
  padding: 9px 15px;
  transition: 0.3s;
}

.btn-blue {
  font-size: 14px;
  background-color: #0432ff;
  color: white;

  &:focus,
  &:hover {
    background-color: #0f2896;
  }
}
