.hero-treatment {
  display: grid;
  grid-template-columns: 9% 1fr 1fr 9%;
  background-image: url("../../images/pool-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 787px;
  position: relative;

  &::before {
    content: "";
    background: linear-gradient(to right, #0530ff 40%, transparent 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cta-container {
  grid-column: 2 / 3;
  align-self: center;
  color: white;
  position: relative;
  width: 100%;
  max-width: 560px;
  z-index: 1;

  h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  button {
    font-size: 14px;
    @include button-reset;
    background-color: #feff3a;
    border-radius: 4px;
    padding: 9px 15px;
    transition: 0.3s;

    &:focus,
    &:hover {
      background-color: #acac2d;
    }
  }
}
