// main site navigation
.site-navigation {
  display: flex;
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
}

.top-bar-left {
}

.site-desktop-title {
  a {
    font-size: 32px;
    color: white;
    transition: 0.3s;

    &:focus,
    &:hover {
      color: #feff3a;
      text-decoration: none;
    }
  }
}

.top-bar-right {
  margin-left: auto;
}

#mega-menu-wrap-top-bar-r {
  background: transparent;

  #mega-menu-top-bar-r {
    > li.mega-menu-item {
      &:last-child {
        margin-left: 50px;
        a {
          background: white;
          border-radius: 4px;
          color: black;
          transition: 0.3s;
        }
      }
    }
  }
}

.supplementary {
  position: absolute;
  top: -30px;
  right: 0;

  .menu {
    @include list-reset;

    li {
      text-transform: uppercase;

      a {
        color: white;
      }
    }
  }
}

// mega-menu
.mega-menu-wrap {
  img {
    display: none;
  }
}
