.intro-section {
  display: grid;
  grid-template-columns: 9% 1fr 1fr 9%;
  background-image: url("../../../wp-content/uploads/2020/12/bg-blue-4.svg");
  background-position: 109% 100%;
  background-repeat: no-repeat;
  background-size: auto 580px;
  padding: 120px 0 200px;

  .intro-content {
    font-size: 30px;
    line-height: 1.4;
    grid-column: 2/3;
  }

  .btn-blue {
    margin-top: 40px;
  }
}

.small-text {
  font-size: 14px;
  margin-right: 5px;
}

.large-blue {
  font-size: 26px;
  font-weight: bold;
  color: #0432ff;
}
