#areas-of-expertise {
  h2 {
    font-size: 32px;
    font-weight: normal;

    @include breakpoint($bp-tablet) {
      margin-left: calc((100% - 1180px) / 2);
      margin-bottom: 40px;
    }
  }
}

.areas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 390px 390px;
  background-image: url("../../../wp-content/uploads/2021/01/Landing-image_3000x1777pxls-1536x910.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  padding-bottom: 20px;

  &:nth-child(3n) {
    border-right: 0;
  }

  h3 {
    font-size: 30px;
    font-weight: normal;
    max-width: 250px;
  }

  .arrow {
    color: #feff3a;
    transition: 0.3s;

    &:focus,
    &:hover {
      color: #acac2d;
      text-decoration: none;
    }
  }
}
