#ground-breaking-global-solutions- {
  padding: 115px 20px;

  .container {
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
  }

  h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
    max-width: 330px;
  }

  .btn {
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    max-width: 130px;
  }
}

.solution-container {
  display: flex;
}

.solution-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #dfdede;
  border-right: 1px solid white;
  height: 510px;
  width: 100%;
  padding: 10px;
  position: relative;

  &:last-child {
    border-right: 0px;
  }

  h3 {
    color: white;
    position: relative;
    z-index: 1;
  }

  a {
    color: #feff3a;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    background: linear-gradient(transparent 70%, #0432ff 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
